* {
  text-align: center;
  font-family: fantasy;
 
}

h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
}

#intro {
  font-style: italic;
  border-style: double;
  padding: 12px;
}

img {
  border-radius: 40%;
}

a:hover {
    cursor: crosshair;
}

body {
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 

}